
/*-------------------------navbar-------------------*/

.logo {
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Sacramento', cursive;
    color: #1F130F;
    text-align: center;
    font-size: 4em!important;
    font-weight: 300;
    text-shadow: 2px 4px 3px #feb3cd;
}



.navbar-toggler {
    background-color: #FEB3CD;
    color: red;
}

.navbar-dark .navbar-nav .nav-link {
    color: #1F130F;
    margin-left: 4em;


}



@media (min-width: 768px) and (max-width: 991px) {
    .navbar-dark .navbar-nav .nav-link {
        margin-left: 0em!important;

    }
}




.navbar-dark .navbar-nav .nav-link:hover {
    color: #1F130F;
    opacity: .7;
}




/*--------------------home page----------------*/

.mainimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overerflow: hidden;
    margin: 0 auto;

}

.link_images {
    width: 100%;
    height: 80%;
    overerflow: hidden;
    margin: 0 auto;
    margin-top: 10px;

}



.tint {
    opacity: 0.5;
}

.tint:hover {
    opacity: 1;
    transition: opacity 1s, background 1s;

}




.bg-info {
    background-color: white!important;

}

.blockquote {
    color: #88898A;
    text-align: center;
    font-style: italic;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em
}

.blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}

.blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}




.link_text {
    text-align: center;
    margin: 5px;
    text-shadow: 2px 4px 3px #feb3cd;
    font-size: 1.5em;
}



.heart_pink {
    color: #feb3cd;
    text-align: center;
    margin-bottom: 20px;



}

.headings {
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-weight: 300;
    color: #1F130F;
    font-size: 60px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-shadow: 2px 4px 3px #feb3cd;
}



/*-------------------contact page -----------------------*/



@media (max-width:767px) {
    .contact_column {
       margin-left: 10px;
       float: left;
    }
}



.contact_img {

    width: 90%;
    height: 90%;
    float: right;
    margin-top: 10px;


}



@media (max-width:767px) {
    .contact_img {
       margin-left: 10px;
       float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contact_img {

    }
}




.coltext {

    font-size: 20px;
    text-align: left;


}



/*--------------------Gallery Page-------------------------------*/

.prices {

    font-style: italic;
}


.gallery {

    width: 100%;
    height: 80%;
    overerflow: hidden;
    margin: 0 auto;
    margin-top: 10px;

}



.gallery_description {
    text-align: center;
    margin: 5px;
    text-shadow: 2px 4px 3px #feb3cd;
    font-size: 1.5em;

}


/

/*-------------------My Story-------------------------------*/

.story_img {
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 10px;


}

@media (max-width:767px) {
    .story_img {
        margin-right: 15px;
        padding-bottom: 10px;
    }
}


.mystory {}

@media (max-width:767px) {
    .mystory {
        padding-left: 55px;
    }
}



/*--------------------Menu-------------------------------*/

ul,
menu,
dir {

    margin-block-start: 1em;
    margin-inline-start: 7em;

}

.menu {
    font-family: 'Indie Flower', cursive;
    font-sixe: 2em;
    background-color: #FFF2F6;
}



#link {
    color: #ea2168;
}

#link:hover {
    color: #ea2168;
    font-weight: 800;

}



/*--------------------footer----------------*/

.footer {
    width: 100%;
    background-color: #fff2f6;
    color: #88898A;
    text-align: center;
    float: center;
    padding: 10px;
    margin-top: 45px;
}


.social-links {
    padding: 15px;
    margin-top: 25px;

}



.list-inline-item {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    margin-inline-start: 0!important;
    border-radius: 50%;
    font-size: 13px;
    line-height: 9px;
    texrt-align: center;
    color: #88898A;
    background-color: #feb3cd;
}

.social {
    color: #88898A;

}
