.logo {
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Sacramento', cursive;
    color: #1F130F;
    text-align: center;
    font-size: 4em!important;
    font-weight: 300;
    text-shadow: 2px 4px 3px #feb3cd;
}


.mainimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overerflow: hidden;
    margin: 0 auto;

}

.link_images {
    width: 100%;
    height: 80%;
    overerflow: hidden;
    margin: 0 auto;
    margin-top: 10px;

}



.tint {
    opacity: 0.5;
}

.tint:hover {
    opacity: 1;
    transition: opacity 1s, background 1s;

}




ul,
menu,
dir {

    margin-block-start: 1em;
    margin-inline-start: 7em;

}

.navbar-toggler {
    background-color: #1F130F;
    color: red;
}

.navbar-dark .navbar-nav .nav-link {
    color: #1F130F;
    margin-left: 4em;


}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #1F130F;
    opacity: .7;
}


.bg-info {
    background-color: white!important;

}

.blockquote {
    color: #88898A;
    text-align: center;
    font-style: italic;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em
}

.blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}

.blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}






.headings {
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-weight: 300;
    color: #1F130F;
    font-size: 60px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-shadow: 2px 4px 3px #feb3cd;
}

.footer {
    width: 100%;
    background-color: #fff2f6;
    color: #88898A;
    text-align: center;
    float: center;
    padding: 10px;
    margin-top: 45px;
}


.social-links {
    padding: 15px;
    margin-top: 25px;

}



.list-inline-item {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    margin-inline-start: 0!important;
    border-radius: 50%;
    font-size: 13px;
    line-height: 9px;
    texrt-align: center;
    color: #88898A;
    background-color: #feb3cd;
}

.social {
    color: #88898A;

}



ul.navbar-nav.list-inline {
    float: right;
}




.link_text {
    text-align: center;
    margin: 5px;
    text-shadow: 2px 4px 3px #feb3cd;
    font-size: 1.5em;
}



.heart_pink {
    color: #feb3cd;
    text-align: center;
    margin-bottom: 20px;



}








